.popup__close {
    width: 40px;
    min-height: 40px;
    position: absolute;
    top: -40px;
    right: -40px;
    background-image: url(../../../images/close-button.png);
    background-color: #000000;
    background-size: 100%;
    cursor: pointer;
    border: none;
}

.popup__close:hover {
    opacity: 0.5;
}