.page__wrapper {
  padding: 0;
  margin: 0 auto;
  width: 880px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 879px) {
  .page__wrapper {
    width: 320px;
  }
}